In [2]:
import pandas as pd

In [6]:
student_df = pd.DataFrame({'name': ['Alice', 'Bob', 'Carol', 'Dan', 'Eli', 'Fran'],
                           'gender': ['female', 'male','female', 'male', 'male', 'female'],
                           'class': ['FY', 'SO', 'SR', 'SO',' JR', 'SR'],
                           'gpa': [90, 93, 97, 89, 95, 92],
                           'num_classes': [4, 3, 4, 4, 3, 2]})
student_df

SyntaxError: invalid non-printable character U+00A0 (2036637841.py, line 5)