In [2]:
import pandas as pd

In [7]:
student_df = pd.DataFrame({'name': ['Alice', 'Bob', 'Carol', 'Dan', 'Eli', 'Fran'],
                           'gender': ['female', 'male','female', 'male', 'male', 'female'],
                           'class': ['FY', 'SO', 'SR', 'SO',' JR', 'SR'],
                           'gpa': [90, 93, 97, 89, 95, 92],'num_classes': [4, 3, 4, 4, 3, 2]})
student_df

    name  gender class  gpa  num_classes
0  Alice  female    FY   90            4
1    Bob    male    SO   93            3
2  Carol  female    SR   97            4
3    Dan    male    SO   89            4
4    Eli    male    JR   95            3
5   Fran  female    SR   92            2

In [ ]:
## Create new attibute named 'female_flag' whose individual cells should hold the Boolean valu True if the corresponding student is femai