In Statistics is all about working with data, be it processing, analyzing, or drawing a conclusion from the data we have. In the context of a given dataset, statistics has two main goals: describing the data, and drawing conclusions from it. These goals coincide with the two main categories of statistics — descriptive statistics and inferential statistics — respectively.

In [1]:
import pandas as pd 
import numpy as np

In [5]:
weather_df = pd.DataFrame({'temp': [55, 34, 80, 75, 53], 'weather': ['windy','cloudy','sunny','rainy','sunny']})
weather_df

   temp weather
0    55   windy
1    34  cloudy
2    80   sunny
3    75   rainy
4    53   sunny

In [8]:
weather_df['weather_encoded'] = weather_df['weather'].map({'windy': 0, 'cloudy': 1, 'sunny': 2, 'rainy': 3})
weather_df

   temp weather  weather_encoded
0    55   windy                0
1    34  cloudy                1
2    80   sunny                2
3    75   rainy                3
4    53   sunny                2